* {
    color:#d6edf9;
    margin: 0 auto;
}
ul.head {
    margin: 0;
    padding: 4px;
}
ul.head li a {
    font-size: large;
}
ul.head li{
    display: inline;
    margin-right: 5px;
    background-color: #151b24;
    padding: 10px 4px;
}
ul.head {
    width: 80%;
}
a{
    text-decoration: none;
    color: #ddc1f6;
}
a:hover{
    color:#fff;
}
body{
    background-color: #151b24;
}
header{

}
header img{
    width: 50px;
    float: left;
}
#main {
    width: 80%;
    padding-top: 20px;
}
article {
    padding: 10px 0;
}
.ads {
    /* Придумать.. */
    color: brown;
}
footer {
    padding: 30px 0;
    text-align:  center;
}
